Jwt__Key=dev-secret-123
Jwt__Issuer=Itm.Booking.Api
RabbitMq__Host=amqp://guest:guest@host.docker.internal:5672
ConnectionStrings__Redis=host.docker.internal:6379
EVENT_API_URL=http://event-api-service
DISCOUNT_API_URL=http://discount-api-service
BOOKING_API_URL=http://booking-api-service
ReverseProxy__Clusters__booking-cluster__Destinations__destination1__Address=http://booking-api-service
ReverseProxy__Clusters__event-cluster__Destinations__destination1__Address=http://event-api-service
ReverseProxy__Clusters__discount-cluster__Destinations__destination1__Address=http://discount-api-service